<div class="auth-container">
  <div class="login-card">

    <h2>Set new password</h2>
    <p>Please enter your new password below.</p>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <input
        type="password"
        placeholder="New password"
        formControlName="password"
      />

      <div *ngIf="error" class="error">{{ error }}</div>
      <div *ngIf="message" class="success">{{ message }}</div>

      <button type="submit">Reset Password</button>

    </form>

  </div>
</div>
